<?xml version="1.0" encoding="UTF-8"?>
<app>
	<data-source>
		<property name="driver" value="com.mysql.jdbc.Driver" />
		<property name="database" value="${projectName}" />
		<mappings package="${packageRoot}.dao" files-pattern="*.hbm.xml" />
	</data-source>
</app>