package ${packageName};

/**
 * Class description.
 * 
 * @author ${authorName}
 * @since ${version}
 */
public class ${className} 
{
	/**
 	 * Constructor description.
 	 */
	public ${className}() 
	{
	}
	
	/**
	 * Returns class string representation.
	 * 
	 * @return String class string representation.
	 */
	public String toString() 
	{
		return "${qualifiedClassName}";
	}
};