package ${packageRoot}.model;

/**
 * Model description.
 * 
 * @author Iulian Rotaru
 * @since 1.0
 */
public class ${className}
{
  /**
   * Model ID.
   */
  private int id;

  /**
   * Model name.
   */
  private String name;

  /**
   * Get model ID.
   * 
   * @return model ID.
   */
  public int getId()
  {
    return id;
  }

  /**
   * Get model name.
   * 
   * @return model name.
   */
  public String getName()
  {
    return name;
  }

  /**
   * Return class string representation.
   * 
   * @return class string representation.
   */
  public String toString()
  {
    return "${qualifiedClassName}";
  }
}
